/* General Styles */
body {
  margin-left: 150px;
  margin-right: 150px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  display: flex;
  flex-direction: column;
}

/* Header Styles */
header {
  background-color: #7b68a4;
  padding: 20px;
}

.site-title {
  color: rgb(234, 227, 247);
  font-size: 24px;
  text-shadow: 2px 2px 4px #330033;
  font-weight: 700;
  font-family: 'Arial', sans-serif;
}

.navigation {
  list-style-type: circle;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation li {
  display: inline;
  margin-right: 20px;
}

.navigation li a {
  font-weight: 600;
  color: #eae3f7;
}

/* Hero Section Styles */
#hero {
  background-color: #eae3f7;
  padding: 50px;
  text-align: center;
}

.hero-title {
  color: #7b68a4;
  font-size: 36px;
  margin-top: 0;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-family: 'Georgia', serif;
  font-weight: 700;
  text-shadow: 2px 2px 4px #1f2dc6;
}

.hero-subtitle {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 20px;
}

.hero-button {
  background-color: #7b68a4;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
  color: #eae3f7;
}

/* About Section Styles */
#about {
  padding: 30px;
  text-align: center;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width: 200px;
  margin-right: 20px;
}

.section-title{
  color: #7b68a4;

}

.about-text {
  font-size: 16px;
  font-weight: 500;
  color: #4d4d4d;
}

/* Services Section Styles */
#services {
  padding: 30px;
  text-align: center;
  background-color: #eae3f7;
}

.service {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.service-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #7b68a4;
  font-weight: 700;
}

.service-description {
  font-size: 16px;
  color: #4d4d4d;
}

/* Contact Section Styles */
#contact {
  padding: 30px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #4d4d4d;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border-style: solid;
}

.form-button {
  background-color: #7b68a4;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  color: #eae3f7;
}

/* Footer Styles */
footer {
  background-color: #7b68a4;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 14px;
  margin: 0;
  font-weight: 600;
}

